html, body {
  background-color: #282c34;
}

.app-page {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

img[alt="GitHub repository"] {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 40px;
  margin: 20px;
  opacity: 0.5;
  transition: all 0.2s ease;
  z-index: 999
}

img[alt="GitHub repository"]:hover {
  opacity: 1;
}

.App-header {
  margin-top: 20px;
}

button:focus {
  outline: none !important;
}